body{
  background-color:#36486b;
}
#logo{
  text-align: center;
  margin: 50px auto 50px auto;
  }
  span.important{
    font-style: italic;
  }

 img.owlcity{
   float: left;
 margin-right: 10px;
 margin-left: 200px;
 }
 .about {
 font-family: New Century Schoolbook, serif;
 color:black;
 margin-left: 50px;
 width: 500px;
 height: 667px;

 padding: 15px;

 float:right;
 font-size: 100%;
 border-left:1px solid black;

 text-align: center;
}
